#Data Structures


*   List
*   Tuple
*   String
*   Set
*   Dictionaries

##List

###Useful functions for a list

*   append(i) --> adds an element i in the list
*   extend(lst) --> expands the list by including another list lst
*   insert(i,j) --> inserts a new element j in specified index i
*   sort() --> sorts the list
*   remove(i) --> removes the element i in the list

In [4]:
# creating a list
list_1 = ['Welcome', 7, 9.99,('Welcome','To'),  [ 'Happy ', 'School']] # creating a list using square_brackets
print(list_1)

['Welcome', 7, 9.99, ('Welcome', 'To'), ['Happy ', 'School']]

In [5]:
# mutablility of the list --> values inside a list can be mutated/changed
list_1[0] = 'Hello' # in python indexing begins with 0 instead of 1
list_1[-1] = 'Course' # -1 refers to last element of the list
print('The mutated list',list_1) 
print('first two items of the list',list_1[0:2])

The mutated list ['Hello', 7, 9.99, ('Welcome', 'To'), 'Course']
first two items of the list ['Hello', 7]

In [6]:
# Iteratability of the list
for i in list_1:
    print(i)

Hello
7
9.99
('Welcome', 'To')
Course

##Tuple

In [12]:
# Creating a tuple object
t1 = ('One',2,'Three',[4.0])
t1

('One', 2, 'Three', [4.0])

In [13]:
#Immutability of tuple
t1[2]

'Three'

In [14]:
# iteratability of tuple
for i in t1:
    print(i)

One
2
Three
[4.0]

##Set

In [15]:
set1 = {0,2,6,9,1,5,2,9,'a','abc'}
set1

{0, 1, 2, 5, 6, 9, 'a', 'abc'}

In [16]:
set1 = {0,2,6,9,1,5,2,9,'a','abc'}
set1  #unordered

{0, 1, 2, 5, 6, 9, 'a', 'abc'}

In [17]:
# iteratability of set
for i in set1:
    print(i)

0
1
2
5
6
9
a
abc

Note:-set cannot store list in it (throws an error) and they cannot have duplicate items (it automatically removes '9' repeated twice). Also, the order is lost in a set.

In [18]:
set1[4] = 1 #since unordered

TypeError: ignored

Throws error because set is unordered

In [19]:
# Set is mutable but not using indices
set1.remove(5)
print(set1)
set1.add(11)
print(set1)

{0, 1, 2, 6, 9, 'a', 'abc'}
{0, 1, 2, 6, 9, 11, 'a', 'abc'}

#Dictionary
Dictionaries are also called “associative arrays” and “hash tables”. Dictionaries are unordered sets of key-value pairs.

In [20]:
# Creating a dictionary
temp1 = {'Today' : '22 deg C', 'Yesterday' : '24 deg C',2:45} 
temp2 = dict( Tomorrow = 'Unknown')

In [21]:
# Creating a dictionary
temp1 = {'Today' : '22 deg C', 'Yesterday' : '24 deg C',2:45} 
temp2 = dict( Tomorrow = 'Unknown')

In [22]:
temp2

{'Tomorrow': 'Unknown'}

In [23]:
# Mutability
print(temp1['Today'])
temp1['Today'] = '23 deg C'
print(temp1.get('Today'))

22 deg C
23 deg C

In [30]:
# iteratability of a dictionary
for i in temp1:
    print('The key is',i,'and the value is', temp1[i])

The key is Today and the value is 23 deg C
The key is Yesterday and the value is 24 deg C
The key is 2 and the value is 45

In [31]:
'Today' in temp1

True

### Indexing Sequence

In [32]:
word_1 = 'Hello Everyone!!' 
print(word_1[3])

l

In [33]:
print(word_1[-3])

e

### Slicing sequence

In [34]:
word_1 = 'Hello Everyone!!'   #string
print("before Slicing",word_1)
print(word_1[0:4:2])  #[start:end:skip]

before Slicing Hello Everyone!!
Hl

In [36]:
print(word_1[:-2])

Hello Everyone